<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ljtaoCrm</display-name>
  
 	<!-- 可以让spring容器随项目的启动而创建,随项目的关闭而销毁 -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- 指定加载spring配置文件的位置 -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  
  <!-- struts2核心过滤器 -->
  <filter>
	  <filter-name>struts2</filter-name>
	  <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encodeFilter</filter-name>
    <filter-class>com.web.filter.GenericEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>AddCustomer</servlet-name>
    <servlet-class>com.web.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomer</servlet-name>
    <url-pattern>/addCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLinkmanServlet</display-name>
    <servlet-name>AddLinkmanServlet</servlet-name>
    <servlet-class>com.web.AddLinkmanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLinkmanServlet</servlet-name>
    <url-pattern>/AddLinkmanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListLinkmanServlet</display-name>
    <servlet-name>ListLinkmanServlet</servlet-name>
    <servlet-class>com.web.ListLinkmanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListLinkmanServlet</servlet-name>
    <url-pattern>/ListLinkmanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>com.web.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServlet</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>com.web.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCustomerServlet</display-name>
    <servlet-name>GetCustomerServlet</servlet-name>
    <servlet-class>com.web.GetCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCustomerServlet</servlet-name>
    <url-pattern>/GetCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLinkmanServlet</display-name>
    <servlet-name>UpdateLinkmanServlet</servlet-name>
    <servlet-class>com.web.UpdateLinkmanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLinkmanServlet</servlet-name>
    <url-pattern>/UpdateLinkmanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLinkmanServlet</display-name>
    <servlet-name>GetLinkmanServlet</servlet-name>
    <servlet-class>com.web.GetLinkmanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLinkmanServlet</servlet-name>
    <url-pattern>/GetLinkmanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLinkmanServlet</display-name>
    <servlet-name>DeleteLinkmanServlet</servlet-name>
    <servlet-class>com.web.DeleteLinkmanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLinkmanServlet</servlet-name>
    <url-pattern>/DeleteLinkmanServlet</url-pattern>
  </servlet-mapping>
</web-app>